*{
    margin:0;
    font-family: sans-serif;
}

body{
    background-image: linear-gradient(90deg,black 50%,white 50%);
}
.white{
    height: 100vh;
    width: 100%;
    position: relative;
}
.navbar{
    width: 88%;
    margin:auto;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    float: right;
    width: 200px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 15px;
    
}
li a{
    text-decoration: none;
    color: black;
}
.img{
    display: flex;
    justify-content: center;
}
.logoimg{
    width: 30px;
}
